python
fastapi
uvicorn
sqlalchemy
psycopg2
python-dotenv
alembic
pydantic[dotenv]
python-jose[cryptography]
python-multipart
passlib["bcrypt"]
redis 
fastapi-limiter 
cloudinary 
fastapi-mail 
sqlalchemy-utils 
pytest 
faker 
django
qrcode 
pyqrcode 
pillow 
pytest-asyncio 